<!--  =======================University Modal=============================== -->

<div class="modal fade" id="addUniversityModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addUniversityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUniversityModalLabel">Create University</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red;">&times;</span>
                </button>

            </div>
            <form id="universityForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <label for="{{ university_form.name.id_for_label }}" name="university_name" class="col-sm-3 col-form-label">University Name</label>
                        <div class="col-sm-9 mb-3">
                            {{ university_form.name }}
                        </div>
                        <label for="{{ university_form.code.id_for_label }}" name="code" class="col-sm-3 col-form-label">Code</label>
                        <div class="col-sm-9 mb-3">
                            {{ university_form.code }}
                        </div>
                        <label for="{{ university_form.location.id_for_label }}" name="code" class="col-sm-3 col-form-label">Location</label>
                        <div class="col-sm-9 mb-3">
                            {{ university_form.location }}
                        </div>
                        <label for="{{ university_form.logo.id_for_label }}" name="logo" class="col-sm-3 col-form-label">Logo</label>
                        <div class="col-sm-9 mb-3">
                            {{ university_form.logo }}
                            <img id="logoPreview" src="#" alt="Logo Preview" class="img-fluid mt-2" style="display: none; max-height: 100px;" />
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--  =======================Department Modal=============================== -->
<div class="modal fade" id="addDepatmentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addDepatmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDepatmentModalLabel">Create Depatment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red;">&times;</span>
                </button>
            </div>
            <form id="depatmentForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <label for="{{ department_form.name.id_for_label }}" name="name" class="col-sm-3 col-form-label">Depatment Name</label>
                        <div class="col-sm-9 mb-3">
                            {{ department_form.name }}
                        </div>
                        <label for="{{ department_form.code.id_for_label }}" name="code" class="col-sm-3 col-form-label">Code</label>
                        <div class="col-sm-9 mb-3">
                            {{ department_form.code }}
                        </div>
                        <label for="{{ department_form.location.id_for_label }}" name="sort_name" class="col-sm-3 col-form-label">Short name</label>
                        <div class="col-sm-9 mb-3">
                            {{ department_form.short_name }}
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- =======================Teacher Position Modal======================= -->

<div class="modal fade" id="addPositionModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addPositionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPositionModalLabel">Create Position </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red;">&times;</span>
                </button>
            </div>
            <form id="positionForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <label for="{{ position_form.title.id_for_label }}" name="name" class="col-sm-3 col-form-label">Position Title</label>
                        <div class="col-sm-9 mb-3">
                            {{ position_form.title }}
                        </div>
                        <label for="{{ department_form.code.id_for_label }}" name="code" class="col-sm-3 col-form-label">Code</label>
                        <div class="col-sm-9 mb-3">
                            {{ position_form.position_code }}
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="addProgramModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addProgramModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProgramModalLabel">Create Program</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: red;">&times;</span>
                </button>
            </div>
            <form id="programForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <label for="{{ program_form.program_name.id_for_label }}" name="name" class="col-sm-3 col-form-label">Program Name</label>
                        <div class="col-sm-9 mb-3">
                            {{ program_form.program_name }}
                        </div>
                        <label for="{{ program_form.program_code.id_for_label }}" name="code" class="col-sm-3 col-form-label">Code</label>
                        <div class="col-sm-9 mb-3">
                            {{ program_form.program_code }}
                        </div>
                        <label for="{{ program_form.program_discription.id_for_label }}" name="program_discription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9 mb-3">
                            {{ program_form.program_discription }}
                        </div>  
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>