{% extends 'coverpage_layout.html' %}
{% load static %}
{% block title %}Lab Report{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h2>{{ university.name }}</h2>
            {% if university_logo_path %}
                <img src="{{ university_logo_path }}" alt="University Logo" class="logo" />
            {% endif %}
        </div>
        <div class="assignment-title">Lab Report</div>
        <table class="info-table">
            <tr>
                <td class="label">Course Code</td>
                <td class="colon">:</td>
                <td class="value">{{ course_code }}</td>
            </tr>
            <tr>
                <td class="label">Course Title</td>
                <td class="colon">:</td>
                <td class="value">{{ course_title }}</td>
            </tr>
            <tr>
                <td class="label">Experiment Name</td>
                <td class="colon">:</td>
                <td class="value">{{ labreport_name }}</td>
            </tr>
            <tr>
                <td class="label">Experiment No</td>
                <td class="colon">:</td>
                <td class="value">{{ labreport_experiment }}</td>
            </tr>
        </table>
        <div class="submission-section">
            <div class="box">
                <h3 class="underline-heading">Submitted From</h3>
                <div class="info-row">
                    <span class="labe">Name</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ student_name }}</span>
                </div>
                <div class="info-row">
                    <span class="labe">ID No</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ student_id }}</span>
                </div>
                <div class="info-row">
                    <span class="labe">Intake</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ intake }}</span>
                </div>
                <div class="info-row">
                    <span class="labe">Section</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ section }}</span>
                </div>
                <div class="info-row">
                    <span class="labe">Program</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ program.program_name }} in {{ student_department.short_name }}</span>
                </div>
                
            </div>

            <div class="box">
                <h3 class="underline-heading">Submitted To</h3>
                <div class="info-row">
                    <span class="labe">Name</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ teacher_name }}</span>
                </div>
                <div class="info-row">
                    <span class="labe">Position</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ faculty_position.title }}</span>
                </div>
                <div class="info-row">
                    <span class="labe">Dept</span>
                    <span class="colo">:</span>
                    <span class="valu">{{ faculty_department.short_name }}</span>
                </div>
                <p style="text-align: center;">{{ university.name }}</p>
            </div>
        </div>
        <div class="date-section">
            <div class="date">
                <p>Date of Submission : {{ date }}</p>
            </div>
            <div class="signature">
                <p>Signature of Teacher  </p>
            </div>
            
        </div>
    </div>
{% endblock %}
