{% extends 'coverpage_layout.html' %}
{% load static %}
{% block title %}Lab Report{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h3>{{ university.name }}</h3>
            {% if university.logo_path %}
                <img src="{{ university.logo_path.url }}" alt="University Logo" class="logo">
            {% endif %}
        </div>
        <div class="assignment-title">Lab Report</div>
        <table class="info-table">
            <tr>
                <td>Course Code : <span>{{ course_code }}</span></td>
            </tr>
            <tr>
                <td>Course Title : <span>{{ course_title }}</span></td>
            </tr>
            <tr>
                <td>Experiment Name : <span>{{ labreport_name }}</span></td>
            </tr>
            <tr>
                <td>Experiment No : <span>{{ labreport_experiment }}</span></td>
            </tr>
        </table>
        <div class="submission-section">
            <div class="box">
                <h3>Submitted By :</h3>
                <p>Name : {{ student_name }}</p>
                <p>ID No : {{ student_id }}</p>
                <p>Intake : {{ intake }}</p>
                <p>Section : {{ section }}</p>
                <p>Program : {{ student_department.short_name }}</p>
            </div>
            <div class="box">
                <h3>Submitted To : </h3>
                <p>Name : {{ teacher_name }}</p>
                <p>({{ faculty_position.title }})</p>
                <p>Dept: {{ faculty_department.short_name }}</p>
                <p>{{ university.name }}</p>
            </div>
        </div>
        <div class="date-section">
            <div class="date">
                <p>Date of Submission : {{ date }}</p>
            </div>
            <div class="signature">
                <p>Signature of Teacher  </p>
            </div>
            
        </div>
    </div>
{% endblock %}
